.mediaItems{

    display:flex;
    flex-flow: row wrap;
    padding:10px;
    background:blue;

}

.mediaItem{

    display:flex;
    flex:1 0 100%;
    background:yellow;
}

.mediaItemInfo{
    padding:10px;
    background:red;
    text-align: left;
    justify-content: center;
}

.mediaItemInfo h2{
    color:white;
    text-transform: uppercase;
    font-size:2em;
    font-family:monserrat, arial;
	list-style:none;
    font-weight:500;
    
    border-bottom:solid 2px white;
}

.mediaItemInfo p{
    color:white;
}

.albumArt{
    height:200px;
    width:200px;
    justify-content: center;
    margin:10px;
    background:white;
    border:solid #999 10px;
    padding: 10px;
}

.albumSpin{

    height:100%;
    width:100%;
    border-radius:100%;

    border:solid 2px black;
    box-sizing: border-box;
    animation:albumSpin 5s infinite linear;

}

